* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  background-color: #253031;
  overflow: scroll;
}

.barra-menu {
  height: 120px;
  font-size: 20px;
  gap: 1px;
  position: sticky;
  top: 0px;
  z-index: 1;
  box-sizing: border-box;
}
.barra-menu .boton {
  color: white;
  border: white solid;
}
.barra-menu .logo {
  height: 100px;
}
.barra-menu .logo:hover {
  transition: 2s;
  transform: rotatey(360deg);
}

/* PAGINA PRINCIPAL!*/
.rectangulos {
  height: 100vh;
  margin: 30px;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "rectangulo-1    rectangulo-3" "rectangulo-2    rectangulo-4";
}
.rectangulos .grid-inicio {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  color: black;
  border: solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangulos .grid-inicio a {
  text-decoration: none;
  color: white;
  border: dashed rgb(2, 21, 85) 5px;
  background-color: rgb(145, 148, 148);
}
.rectangulos .grid-inicio a:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.rectangulos .rectangulo-1 {
  grid-area: rectangulo-1;
  background-image: url(../img/Personas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangulos .rectangulo-2 {
  grid-area: rectangulo-2;
  background-image: url(../img/sublimacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangulos .rectangulo-3 {
  grid-area: rectangulo-3;
  background-image: url(../img/Produccion.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.rectangulos .rectangulo-4 {
  grid-area: rectangulo-4;
  background-image: url(../img/contacto-formas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Nosotros */
.presentacion .intro h1 {
  width: 100%;
  background-color: #3c787c;
  text-align: center;
  font-size: 65px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top: #202A25;
}
.presentacion .intro h2 {
  margin: 20px 20px 50px 800px;
  width: 300px;
  padding-left: 25px;
  font-size: 50px;
  color: white;
  border: solid aquamarine;
  border-radius: 0px 35px 0px 35px;
}
.presentacion .intro h3 {
  color: white;
  margin-left: 470px;
  text-decoration: underline;
  font-size: 60px;
}

.quien-soy {
  display: flex;
  justify-content: center;
}
.quien-soy p {
  height: 400px;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 100px 10px 10px 10px;
}
.quien-soy .persona {
  width: 500px;
  margin-right: 100px;
}

/* SERVICIOS */
h1 {
  width: 100%;
  background-color: #3c787c;
  text-align: center;
  font-size: 65px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top: #202A25;
}

.servicios p {
  color: white;
  margin: 10px;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: underline;
}

.tarjetas {
  margin: 3rem;
  padding: 75px;
  border: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.tarjetas .tarjeta {
  background-color: #253031;
  flex-basis: 100%;
  padding: 2rem;
}
.tarjetas .tarjeta h2 {
  font-size: 40px;
  font-family: sans-serif;
  color: bisque;
  text-align: center;
}
.tarjetas .tarjeta img {
  border: solid 4px black;
  width: 600px;
  height: 470px;
}

/* PRDOCUTOS */
.productos p {
  color: white;
  margin: 10px;
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: underline;
}

.produccion {
  height: 100vh;
  margin: 60px;
  grid-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "tazas   jarros   chopps   matelisto" "maderas  remeras  buzos    almohada";
}
.produccion .grid-hijo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 35px;
  color: black;
  border: solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.produccion .grid-hijo p {
  border: solid aquamarine;
  background-color: aquamarine;
}
.produccion .tazas {
  background-color: #2978A0;
  grid-area: tazas;
  background-image: url(../img/mockup-taza.jpg);
  background-size: cover;
}
.produccion .tazas:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.produccion .jarros {
  background-color: #2978A0;
  grid-area: jarros;
  background-image: url(../img/Jarro.jpg);
  background-size: cover;
  background-position: center;
}
.produccion .jarros:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.produccion .chopps {
  background-color: #2978A0;
  grid-area: chopps;
  background-image: url(../img/Chopps.jpeg);
  background-size: cover;
  background-position: 450px;
}
.produccion .chopps:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.produccion .matelisto {
  background-color: #2978A0;
  grid-area: matelisto;
  background-image: url(../img/mockup-mater.jpg);
  background-size: cover;
}
.produccion .matelisto:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.produccion .maderas {
  background-color: #2978A0;
  grid-area: maderas;
  background-image: url(../img/Madera.jpeg);
  background-size: cover;
  background-position: center;
}
.produccion .maderas:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.produccion .remeras {
  background-color: #2978A0;
  grid-area: remeras;
  background-image: url(../img/mockup-reme.png);
  background-size: cover;
}
.produccion .remeras:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.produccion .gorras {
  background-color: #2978A0;
  grid-area: buzos;
  background-image: url(../img/Gorra.png);
  background-size: cover;
  background-position: center;
}
.produccion .gorras:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.produccion .almohada {
  background-color: #2978A0;
  grid-area: almohada;
  background-image: url(../img/mockup-almo.jpg);
  background-size: cover;
}
.produccion .almohada:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

/* Contacto */
.contacto-ubi {
  display: flex;
  justify-content: space-around;
}
.contacto-ubi .formulario {
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
}
.contacto-ubi .formulario .mensaje p {
  color: white;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
}
.contacto-ubi .formulario .form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}
.contacto-ubi .formulario .form__container .form__input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: 1px solid;
}
.contacto-ubi .formulario .form__container .form__input .form__input--mensaje {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}
.contacto-ubi .formulario .form__container .form__cta {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #0770db;
  color: white;
  border: none;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.7em 0;
  border-radius: 0.2em;
}
.contacto-ubi .ubicacion p {
  color: white;
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
}

.pie-pagina {
  width: 100%;
  height: 200px;
  border: 2px solid;
  position: static;
  background-color: #0770db;
  background-image: url(../img/logo\ sin\ fondo.jpg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position-x: 200px;
}
.pie-pagina h2 {
  font-size: 40px;
  color: white;
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.pie-pagina h3 {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pie-pagina p {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pie-pagina .social {
  background-color: black;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 2rem;
  left: 90%;
  padding: 1rem;
  gap: 1rem;
  border-radius: 1rem;
}
.pie-pagina .social .bi {
  font-size: 2rem;
  color: white;
}
.pie-pagina .social:hover {
  transform: scale(1.3);
}

/******************************** smartphone ********************************/
@media (max-width: 750px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* MediaQueris inicio */
  .rectangulos {
    height: 100vh;
    margin: 30px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "rectangulo-1" "rectangulo-3" "rectangulo-2" "rectangulo-4";
  }
  .rectangulos .grid-inicio {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
    color: black;
    border: solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rectangulos .grid-inicio a {
    text-decoration: none;
    color: white;
    border: dashed rgb(2, 21, 85) 5px;
    background-color: rgb(145, 148, 148);
  }
  /*media footer*/
  .pie-pagina {
    width: 100%;
    height: 150px;
    border: 2px solid;
    position: static;
    background-color: #0770db;
    background-image: url(../img/logo\ sin\ fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position-x: 10px;
    padding: 30px;
    /* Media Logos Footer*/
  }
  .pie-pagina h2 {
    font-size: 0px;
    color: #0770db;
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .pie-pagina h3 {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .pie-pagina p {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pie-pagina .social {
    background-color: black;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0.5rem;
    left: 76%;
    padding: 1rem;
    gap: 2rem;
    border-radius: 1rem;
  }
  .pie-pagina .social .bi {
    font-size: 1.5rem;
    color: white;
  }
  /* Media nosotros */
  .presentacion {
    width: 100%;
  }
  .presentacion .intro h1 {
    background-color: #3c787c;
    text-align: center;
    font-size: 45px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-top: #202A25;
  }
  .presentacion .intro h2 {
    margin: 20px 1px 5px 50px;
    padding-left: 25px;
    font-size: 50px;
    color: white;
    border: solid aquamarine;
    border-radius: 0px 35px 0px 35px;
  }
  .presentacion .intro h3 {
    color: white;
    text-decoration: underline;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 120px;
  }
  .quien-soy {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
  .quien-soy p {
    font-size: 23px;
    color: white;
    text-align: center;
    margin: 5px;
  }
  .quien-soy .persona {
    width: 300px;
    margin-top: 10px;
    margin-left: 110px;
  }
  /* Media Productos */
  .produccion {
    height: 100vh;
    margin: 10px;
    grid-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "tazas    jarros" "chopps   matelisto" "maderas  remeras" "buzos    almohada";
  }
  .produccion .grid-hijo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    color: black;
    border: solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .produccion .grid-hijo p {
    border: solid aquamarine;
    background-color: aquamarine;
  }
  /*Media Servicios*/
  .servicios h1 {
    width: 100%;
    background-color: #3c787c;
    text-align: center;
    font-size: 65px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-top: #202A25;
  }
  .servicios p {
    color: white;
    margin: 10px;
    font-size: 35px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    text-decoration: underline;
  }
  .tarjetas {
    margin: 0.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .tarjetas .tarjeta {
    background-color: #253031;
    flex-basis: 100%;
    padding: 0.4rem;
  }
  .tarjetas .tarjeta h2 {
    font-size: 40px;
    font-family: sans-serif;
    color: bisque;
    text-align: center;
  }
  .tarjetas .tarjeta img {
    border: solid 4px;
    width: 100%;
    height: 100%;
  }
  /* media contacto*/
  .contacto-ubi {
    width: 100%;
    display: inline;
  }
  .contacto-ubi .contacta {
    width: 100%;
  }
  .contacto-ubi .contacta h1 {
    font-size: 50px;
  }
  .contacto-ubi .formulario {
    margin-left: 10px;
  }
  .contacto-ubi .formulario .mensaje p {
    color: white;
    font-size: 50px;
    text-decoration: underline;
    grid-area: mensaje;
  }
  .contacto-ubi .ubicacion p {
    color: white;
    font-size: 50px;
    text-decoration: underline;
    margin-left: 10px;
  }
  .contacto-ubi .ubicacion .mapa {
    top: 0;
    width: 380px;
    height: 400px;
    margin-left: 10px;
  }
}
/***************************** celulares **********************************/
@media (max-width: 387px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* MediaQueris inicio */
  .rectangulos {
    height: 100vh;
    margin: 30px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "rectangulo-1" "rectangulo-3" "rectangulo-2" "rectangulo-4";
  }
  .rectangulos .grid-inicio {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
    color: black;
    border: solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rectangulos .grid-inicio a {
    text-decoration: none;
    color: white;
    border: dashed rgb(2, 21, 85) 5px;
    background-color: rgb(145, 148, 148);
  }
  /*media footer*/
  .pie-pagina {
    width: 100%;
    height: 150px;
    border: 2px solid;
    position: static;
    background-color: #0770db;
    background-image: url(../img/logo\ sin\ fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position-x: 10px;
    padding: 30px;
    /* Media Logos Footer*/
  }
  .pie-pagina h2 {
    font-size: 0px;
    color: #0770db;
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  .pie-pagina h3 {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .pie-pagina p {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pie-pagina .social {
    background-color: black;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0.5rem;
    left: 76%;
    padding: 1rem;
    gap: 2rem;
    border-radius: 1rem;
  }
  .pie-pagina .social .bi {
    font-size: 1.5rem;
    color: white;
  }
  /* Media nosotros */
  .presentacion {
    width: 100%;
  }
  .presentacion .intro h1 {
    background-color: #3c787c;
    text-align: center;
    font-size: 45px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-top: #202A25;
  }
  .presentacion .intro h2 {
    margin: 20px 1px 5px 50px;
    padding-left: 25px;
    font-size: 50px;
    color: white;
    border: solid aquamarine;
    border-radius: 0px 35px 0px 35px;
  }
  .presentacion .intro h3 {
    color: white;
    text-decoration: underline;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 110px;
  }
  .presentacion .quien-soy {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
  .presentacion .quien-soy p {
    font-size: 23.5px;
    color: white;
    text-align: center;
    margin: 5px;
  }
  .presentacion .quien-soy .persona {
    width: 300px;
    margin-top: 10px;
    margin-left: 110px;
  }
  .quien-soy {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }
  .persona {
    width: 300px;
    margin-top: 10px;
    margin-left: 110px;
  }
  /* Media Productos */
  .produccion {
    height: 100vh;
    margin: 10px;
    grid-gap: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "tazas    jarros" "chopps   matelisto" "maderas  remeras" "buzos    almohada";
  }
  .produccion .grid-hijo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    color: black;
    border: solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .produccion .grid-hijo p {
    border: solid aquamarine;
    background-color: aquamarine;
  }
  /*Media Servicios*/
  h1 {
    width: 100%;
    background-color: #3c787c;
    text-align: center;
    font-size: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-top: #202A25;
  }
  .servicios p {
    color: white;
    margin: 10px;
    font-size: 35px;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    text-decoration: underline;
  }
  .tarjetas {
    margin: 0.2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .tarjetas .tarjeta {
    background-color: #253031;
    flex-basis: 100%;
    padding: 0.4rem;
  }
  .tarjetas .tarjeta h2 {
    font-size: 40px;
    font-family: sans-serif;
    color: bisque;
    text-align: center;
  }
  .tarjetas .tarjeta img {
    border: solid 4px;
    width: 100%;
    height: 100%;
  }
  /* media contacto*/
  .contacto-ubi {
    width: 100%;
    display: inline;
  }
  .contacto-ubi .contacta {
    width: 90%;
  }
  .contacto-ubi .contacta h1 {
    font-size: 50px;
  }
  .contacto-ubi .formulario {
    margin-left: 10px;
  }
  .contacto-ubi .formulario .mensaje p {
    color: white;
    font-size: 40px;
    text-decoration: underline;
  }
  .contacto-ubi .ubicacion p {
    color: white;
    font-size: 40px;
    text-decoration: underline;
    margin-left: 10px;
  }
  .contacto-ubi .ubicacion .mapa {
    top: 0;
    width: 330px;
    height: 400px;
    margin-left: 10px;
  }
}/*# sourceMappingURL=estilos.css.map */