/******************************** smartphone ********************************/

@media (max-width: 750px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

    /* MediaQueris inicio */

	.rectangulos {
		height: 100vh;
		margin: 30px;
		grid-gap: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: "rectangulo-1" "rectangulo-3" "rectangulo-2" "rectangulo-4";

		.grid-inicio {
			font-family: $font-family_1;
			font-size: 50px;
			color: $color_2;
			border: solid black;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
	
			a {
				text-decoration: none;
				color: $color_1;
				border: dashed rgb(2, 21, 85) 5px;
				background-color: $background-color_2;
			}
		}
	}


    /*media footer*/

	.pie-pagina {
		width: 100%;
		height: 150px;
		border: 2px solid;
		position: static;
		background-color: $background-color_3;
		background-image: url(../img/logo\ sin\ fondo.jpg);
		background-repeat: no-repeat;
		background-size: 100px 100px;
		background-position-x: 10px;
		padding: 30px;

		h2 {
			font-size: 0px;
			color: $color_4;
			margin-right: 300px;
			display: flex;
			flex-direction: row;
			justify-content: end;
			align-items: center;
		}
		
		h3 {
			font-size: 20px;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		p {
			font-size: 15px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
		
		/* Media Logos Footer*/

		.social {
			background-color: $background-color_4;
			display: flex;
			flex-direction: column;
			position: fixed;
			bottom: .5rem;
			left: 76%;
			padding: 1rem;
			gap: 2rem;
			border-radius: 1rem;
			
			.bi {
				font-size: 1.5rem;
				color: $color_1;
			}
		}
	}


    /* Media nosotros */

	.presentacion {
		width: 100%;

		.intro {

			h1 {
				background-color: $background-color_5;
				text-align: center;
				font-size: 45px;
				font-family: $font-family_2;
				border-top: #202A25;
			}

			h2 {
				margin: 20px 1px 5px 50px;
				padding-left: 25px;
				font-size: 50px;
				color: $color_1;
				border: solid aquamarine;
				border-radius: 0px 35px 0px 35px;
			}

			h3 {
				color: $color_1;
				text-decoration: underline;
				font-size: 25px;
				margin-top: 20px;
				margin-left: 120px;
			}
		}
	}

	.quien-soy {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap-reverse;

		p {
			font-size: 23px;
			color: $color_1;
			text-align: center;
			margin: 5px;
		}

		.persona {
			width: 300px;
			margin-top: 10px;
			margin-left: 110px;
		}
	}
	

    /* Media Productos */

	.produccion {
		height: 100vh;
		margin: 10px;
		grid-gap: 40px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: "tazas    jarros" "chopps   matelisto" "maderas  remeras" "buzos    almohada";

		.grid-hijo {
			font-family: $font-family_1;
			font-size: 35px;
			color: $color_2;
			border: solid black;
			border-radius: 20px;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				border: solid aquamarine;
				background-color: $background-color_6;
			}
		}
	}

    /*Media Servicios*/

	.servicios {

		h1 {
			width: 100%;
			background-color: $background-color_5;
			text-align: center;
			font-size: 65px;
			font-family: $font-family_2;
			border-top: #202A25;
		}

		p {
			color: $color_1;
			margin: 10px;
			font-size: 35px;
			font-family: $font-family_2;
			text-align: center;
			text-decoration: underline;
		}
	}

	.tarjetas {
		margin: .2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		.tarjeta {
			background-color: $background-color_1;
			flex-basis: 100%;
			padding: .4rem;

			h2 {
				font-size: 40px;
				font-family: $font-family_3;
				color: $color_3;
				text-align: center;
			}

			img {
				border: solid 4px;
				width: 100%;
				height: 100%;
			}
		}
	
	}

	
    /* media contacto*/
	.contacto-ubi {
		width: 100%;
		display: inline;

		.contacta {
			width: 100%;

			h1 {
				font-size: 50px;
			}
		}
	
		.formulario {
			margin-left: 10px;

			.mensaje {

				p {
					color: $color_1;
					font-size: 50px;
					text-decoration: underline;
					grid-area: mensaje;
				}
			}
		}
	
	
		.ubicacion {

			p {
				color: $color_1;
				font-size: 50px;
				text-decoration: underline;
				margin-left: 10px;
			}

			.mapa {
				top: 0;
				width: 380px;
				height: 400px;
				margin-left: 10px;
			}
		}
	}

}

/***************************** celulares **********************************/

@media (max-width: 387px) {

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

    /* MediaQueris inicio */

	.rectangulos {
		height: 100vh;
		margin: 30px;
		grid-gap: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: "rectangulo-1" "rectangulo-3" "rectangulo-2" "rectangulo-4";

		.grid-inicio {
			font-family: $font-family_1;
			font-size: 50px;
			color: $color_2;
			border: solid black;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			align-items: center;

			a {
				text-decoration: none;
				color: $color_1;
				border: dashed rgb(2, 21, 85) 5px;
				background-color: $background-color_2;
			}
		}
	}


    /*media footer*/

	.pie-pagina {
		width: 100%;
		height: 150px;
		border: 2px solid;
		position: static;
		background-color: $background-color_3;
		background-image: url(../img/logo\ sin\ fondo.jpg);
		background-repeat: no-repeat;
		background-size: 100px 100px;
		background-position-x: 10px;
		padding: 30px;

		h2 {
			font-size: 0px;
			color: $color_4;
			margin-right: 300px;
			display: flex;
			flex-direction: row;
			justify-content: end;
			align-items: center;
		}

		h3 {
			font-size: 20px;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		p {
			font-size: 15px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}

		/* Media Logos Footer*/

		.social {
			background-color: $background-color_4;
			display: flex;
			flex-direction: column;
			position: fixed;
			bottom: .5rem;
			left: 76%;
			padding: 1rem;
			gap: 2rem;
			border-radius: 1rem;

			.bi {
				font-size: 1.5rem;
				color: $color_1;
			}
		}
	}


    /* Media nosotros */

	.presentacion {
		width: 100%;

		.intro {

			h1 {
				background-color: $background-color_5;
				text-align: center;
				font-size: 45px;
				font-family: $font-family_2;
				border-top: #202A25;
			}

			h2 {
				margin: 20px 1px 5px 50px;
				padding-left: 25px;
				font-size: 50px;
				color: $color_1;
				border: solid aquamarine;
				border-radius: 0px 35px 0px 35px;
			}

			h3 {
				color: $color_1;
				text-decoration: underline;
				font-size: 25px;
				margin-top: 20px;
				margin-left: 110px;
			}
	
		}

		.quien-soy {
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap-reverse;

			p {
				font-size: 23.5px;
				color: $color_1;
				text-align: center;
				margin: 5px;
			}

			.persona {
				width: 300px;
				margin-top: 10px;
				margin-left: 110px;
			}
		}
	
	}

	.quien-soy {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap-reverse;
	}

	.persona {
		width: 300px;
		margin-top: 10px;
		margin-left: 110px;
	}

    /* Media Productos */

	.produccion {
		height: 100vh;
		margin: 10px;
		grid-gap: 40px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: "tazas    jarros" "chopps   matelisto" "maderas  remeras" "buzos    almohada";

		.grid-hijo {
			font-family: $font-family_1;
			font-size: 35px;
			color: $color_2;
			border: solid black;
			border-radius: 20px;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				border: solid aquamarine;
				background-color: $background-color_6;
			}
		}
	}


    /*Media Servicios*/

	.servicios {

		h1 {
			width: 100%;
			background-color: $background-color_5;
			text-align: center;
			font-size: 65px;
			font-family: $font-family_2;
			border-top: #202A25;
		}

		p {
			color: $color_1;
			margin: 10px;
			font-size: 35px;
			font-family: $font-family_2;
			text-align: center;
			text-decoration: underline;
		}
	}

	.tarjetas {
		margin: .2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		.tarjeta {
			background-color: $background-color_1;
			flex-basis: 100%;
			padding: .4rem;
	
				h2 {
					font-size: 40px;
					font-family: $font-family_3;
					color: $color_3;
					text-align: center;
				}

				img {
					border: solid 4px;
					width: 100%;
					height: 100%;
				}
		}
	}


    /* media contacto*/

	.contacto-ubi {
		width: 90%;
		display: inline;
	

		.contacta {
			width: 100%;
			h1 {
				font-size: 50px;
			}
		}

		.formulario {
			margin-left: 10px;
		

			.mensaje {
				p {
					color: $color_1;
					font-size: 50px;
					text-decoration: underline;
				}
			}
		}


		.ubicacion {

			p {
				color: $color_1;
				font-size: 50px;
				text-decoration: underline;
				margin-left: 10px;
			}

			.mapa {
				top: 0;
				width: 330px;
				height: 400px;
				margin-left: 10px;
			}
		}
	}
}