
$color_1: white;
$color_2: black;
$color_3: bisque;
$color_4: #0770db;

$font-family_1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-family_2: Georgia, 'Times New Roman', Times, serif;
$font-family_3: sans-serif;

$background-color_1: #253031;
$background-color_2: rgb(145, 148, 148);
$background-color_3: #0770db;
$background-color_4: black;
$background-color_5: #3c787c;
$background-color_6: aquamarine;
$background-color_7: #2978A0;